<div>
    <div class="persona-card">
        <!-- <img class="persona-avatar" *ngIf="imageClean != null; else igualANull" [src]="image"> -->
    <div class="persona-item-img">
        <img class="avatar-container" [src]="[AvatarImage]">
    </div>

        <!-- <ng-template>
            <img class="persona-avatar" [src]="'assets/img/default_user.png'">
        </ng-template> -->
        <input
            type="file"
            accept="image/jpeg"
            *ngIf="userPicker"
            #filePicker
            (change)="onFileChosen($event)"
        />
    </div>

    <div class="boton-editar-avatar" (click)="onPickImage()">
        <p>Cambiar Imágen</p>
      </div>
<!-- 
    <div>
        <h5 class="persona-cambiar-foto-perfil">Cambiar</h5>
    </div> -->
</div>