<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button text="Atrás"></ion-back-button>
      </ion-buttons>
      <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>    
</ion-header>

<ion-content>

      <div class="avatar-edit">

        <app-image-picker 
          (imagePick)="onPickImage($event)"
          [AvatarImage]="[profile?.avatar]">
        </app-image-picker>

        
        
      </div>

<!-- 
  <div class="wrap-logout">
    <button class="button-logout" (click)="takePicture()">Cambiar imagen</button>
  </div> -->

</ion-content>
