<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title>Editar Perfil</ion-title>
  </ion-toolbar>    
</ion-header>

<ion-content>
  <div class="persona-card" >
    <div class="persona-item-img">
      <img class="avatar-container" [src]="profile?.avatar">
    </div>
  </div>

  <div class="wrap-logout">
    <button class="button-logout" (click)="takePicture()">Cambiar imagen</button>
  </div>

</ion-content>
